{% extends "base.htm.twig" %}

{% block title %}
    {# Zuerst: Aufrufen des Title-Block von base.htm.twig #}
    {{ parent() }} - Helden
{% endblock %}

{% block content %}
    <h1>Supero - Helden</h1>
    <table class="table table-bordered">
        {% for name in heros %}
            <tr>
                <td><a href='held.php?name={{ name }}'>{{ name }}</a></td>
                <td><img src='img/{{ name|lower }}.jpg' alt='{{ name }}' class='img-rounded' style='width: 200px'></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
