{% extends "base.htm.twig" %}

{% block title %}
    {# Zuerst: Aufrufen des Title-Block von base.htm.twig #}
    {{ parent() }} - Held {{ name }}
{% endblock %}

{% block content %}
    <h1>Held {{ name }}</h1>
    <div class="row">

    <div class="col-xs-6">
        <img src="img/{{ name|lower }}.jpg" alt="{{ name }}" class="img-rounded img-responsive">
    </div>
    <div class="col-xs-6">
        <table class="table">
            <tr><th>Name</th><td>{{ name }}</td></tr>
            <tr><th>Kosten</th><td>{{ hero.price }}</td></tr>
            <tr><th>Status</th><td class="{{ statusClass }}">{{ hero.status }}</td></tr>
            <tr><td colspan="2">{{ hero.text }}</td></tr>
        </table>
    </div>

    </div>
{% endblock %}
